.no-margin {
  margin: 0;
}

.devise {
  align-items: center;
  background-color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  .devise__logo {
    display: flex;
    margin: 0 auto;
  }

  .ui.segment {
    padding: 1.5rem;
  }

  .ui.header {
    color: $black;
    font-weight: lighter;
    text-align: center;
  }

  .ui.fluid.button {
    background: $orange;
    color: $white;
    font-weight: lighter;
  }

  .ui.message {
    display: flex;
    justify-content: space-around;
  }

  .field.checkbox {
    display: flex;
  }

  .devise__link {
    display: flex;
    margin: 1.5rem 0 0;
  }

  .ui.form {
    input:focus,
    input:active {
      border-color: $orange;
    }
  }

  .field_with_errors {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  a:hover {
    color: $orange;
  }
}

.devise__form {
  margin: 1rem 0;
  max-width: 450px;
  width: 90%;
}
