$gray: #999;
$medium-gray: #f8f8f8;
$blue: #006ce5;
$white: #fff;
$black: #252525;
$notification-color: #ffa834;
$notification-border: #606060;
$header-text: #b5b5b5;
$orange: #ff7200;
$planned: #ff9600;
$finished: #8e8e93;
$pending: #44db5e;
$delayed: #ff2851;
$red: #b94a48;
$red-light: #f2dede;
$green: #468847;
$green-light: #dff0d8;
