%p
  Hola #{@resource.email}!
%p Ha solicitado un enlace para cambiar su contraseña. Puede hacerlo a través del siguiente enlace.
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token)
%p Si usted no lo ha solicitado, por favor ignore este correo.
%p Su contraseña no cambiará hasta que acceda al enlace anterior y cree uno nuevo.
